# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Siddiq JSHint'
      'command': 'siddiq-jshint:convert'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Siddiq JSHint'
      'submenu': [
        {
          'label': 'JSHint'
          'command': 'siddiq-jshint:convert'
        }
      ]
    ]
  }
]
